* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#search-bar {
    text-align: center;
    margin: 50px 0;
}

#input-meal {
    font-size: 18px;
    padding: 10px 20px;
}

#search-btn {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

#show-meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.meal {
    margin: 15px;
    border-radius: 6px;
    background: #F8F7F5;
}

.meal img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.meal h2 {
    padding: 20px 10px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}